@keyframes play27 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1296px 0px;
  }
}
.shapeshifter {
  animation-duration: 900ms;
  animation-timing-function: steps(27);
  animation-fill-mode: forwards;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play27;
}

/* base */
.grow {
  backface-visibility: hidden;
  z-index: 1;
}

/* moving */
.grow-move {
  transition: all 600ms ease-in-out 50ms;
}

/* appearing */
.grow-enter-active {
  transition: all 400ms ease-out;
}

/* disappearing */
.grow-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  z-index: 0;
}

/* appear at / disappear to */
.grow-enter,
.grow-leave-to {
  opacity: 0;
}
