$colorPrimary: #90D086;

$colorDark: #2B2B2B;
$colorDarkDark: #252525;
$colorDarkBright: #313131;

$colorBright: #E0E2DB;
$colorBrightDark: #bec0ba;
$colorBrightBright: #fffffc;

$colorMap: (
  colorPrimary: #90D086,
  colorDark: #2B2B2B,
  colorBright: #E0E2DB
);

$phoneBreakpoint: 480px;
$tabletBreakpoint: 800px;
$maxWidth: 1400px;